<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Smart Plant Care</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link mlink" aria-current="page" href="{{ url_for(request.endpoint, lang_code='en') }}">en</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mlink" aria-current="page" href="{{ url_for(request.endpoint, lang_code='el') }}">el</a>
          </li>

          <li class="nav-item">
            <a class="nav-link mlink" aria-current="page" href="/">Αρχική</a>
          </li>
          {% if current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link mlink" href="{{ url_for('multilingual.cake') }}">Νέα Καλλιέργεια</a>
            </li>
          {% endif %}       
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if current_user.is_authenticated %}
            <li class="nav-item dropdown">
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{{ url_for('multilingual.cake') }}">{{ true }}</a></li>
                <li><a class="dropdown-item" href="{{ url_for('multilingual.cake') }}">Έξοδος</a></li>
              </ul>
            </li>
          {% else %}
            <li class="p-2 bd-highlight"><a class="litems" href="/signup"><span class="glyphicon glyphicon-log-in"></span>{{_('SignUp')}}</a></li>
            <li class="p-2 bd-highlight"><a class="litems" href="/login"><span class="glyphicon glyphicon-log-in"></span>{{_('Login')}}</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
